/* ---------- xhtml elements ---------- */
body {
	background-color: #FFF;
	padding: 0;
	margin: 0;
	font-family: Lucida Grande, Geneva, Arial, Verdana, sans-serif;
	font-size: 11pt;
	line-height: 1.4em;
}
::selection {
	color: #666;
	background-color: #EEE;
}
hr {
	color: none;
	background-color: none;
	border: none;
	border-top: 1px dotted #BBB;
	height: 1px;
	margin: 2em 0;
}
p {
	margin-top: 0;
	padding: 0;
}
pre, code {
	font-family: 'Menlo', 'Andale Mono', 'Monaco', 'Consolas', 'Courier';
}
a, a:active {
	text-decoration: none; color: #339;
}
a:hover {
	text-decoration: none; position: relative; top: +1px; left: +1px;
}
/* ---------- content ---------- */
#content {
	border-top: 0px solid #BBB;
	width: 520px;
	padding-left: 12em;
	margin-top: 130px;
	margin-bottom: 5em;
	font-size: .9em;
}
#content h1 {
	color: #666;
	font-size: 150%;
}
#content h2 {
	font-family: 'Menlo', 'Andale Mono', 'Monaco', 'Consolas', 'Courier';
	color: #333;
	border-top: 1px dotted #BBB;
	margin-top: 2em;
	padding-top: .5em;
	font-size: 100%;
	white-space: pre-wrap;
}
#content h3 {
	font-family: 'Menlo', 'Andale Mono', 'Monaco', 'Consolas', 'Courier';
	color: #999;
	padding: 0;
	margin-bottom: 0;
	font-size: 100%;
}
#content ul, #content ol {
	margin-left: 1.35em;
	padding-left: 0; 
}
#content ul {
	list-style: square;
}
#content code {
	padding: .2em .4em .2em 0 0;
	border-radius: 2px;
	white-space: pre-wrap;
}
#content pre {
	border-radius: 4px;
	background-color: #EEE;
	padding: 1em;
	font-size: .9em;
}
#content p, #content ul {
	font-size: .9em;
}
#content p > em, #content li > em {
	font-family: Georgia, Lucida Grande, Geneva, Arial, Verdana, sans-serif;
	font-size: 110%;
}
#content p > code {
	background-color: #EEE;
	color: #666;
	padding: .2em .3em;
}
#header {
	background-image: url('http://robofab.org/img/drawmodel_header.jpg');
	background-repeat: no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFF;
	border-bottom: 0px solid #CCC;
	width: 100%;
	height: 130px;
	padding: 0;
	margin: 0;
}
/* ---------- navigation ---------- */
.nav {
	position: fixed;
	top: 130px;
	margin: 0 0 0 2em;
	font-size: 11px;
	line-height: 150%;
}
.nav a:hover {
	background-color: #EEE;
}
.nav code {
	font-family: Lucida Grande, Geneva, Arial, Verdana, sans-serif;
}
.nav ul {
	margin: 0;
	padding: 0;
}
.nav h3 {
	font-size: 11px;
	margin: 0;
	padding: 0;
}
.nav ul + h3 {
	margin-top: 1em;
}
.nav hr {
	margin: .6em;
	border-top: 0px solid #BBB;	
}
#index {
	left: 0;
	width: 60px;
}
#index2 {
	left: 725px;
	width: 16em;
}
#index ul, #index2 ul {
	_font-family: 'Menlo', 'Andale Mono', 'Monaco', 'Consolas', 'Courier';
	margin-left: 0;
	padding-left: 0; 
	list-style: none;
}
/* ---------- object map ---------- */
#map-link {
	position: absolute;
	top: 7px;
	left: 740px;
}
#map {
	width: 36em;
	padding-left: 28em;
	margin-top: 130px;
}
#tree { position: absolute; left: 150px; top: 120px; }
#lib1 { position: absolute; left: 386px; top: 120px; width: 114px; height: 66px; }
#info { position: absolute; left: 570px; top: 145px; width: 114px; height: 66px; }
#font { position: absolute; left: 386px; top: 190px; width: 140px; height: 96px; }
#kerning { position: absolute; left: 538px; top: 245px; width: 114px; height: 66px; }
#lib2 { position: absolute; left: 150px; top: 261px; width: 114px; height: 66px; }
#glyph { position: absolute; left: 281px; top: 306px; width: 140px; height: 96px; }
#anchor { position: absolute; left: 150px; top: 327px; width: 114px; height: 66px; }
#point { position: absolute; left: 555px; top: 375px; width: 114px; height: 66px; }
#component { position: absolute; left: 150px; top: 414px; width: 114px; height: 66px; }
#bpoint { position: absolute; left: 555px; top: 449px; width: 114px; height: 66px; }
#contour { position: absolute; left: 390px; top: 455px; width: 114px; height: 66px; }
#segment { position: absolute; left: 233px; top: 506px; width: 114px; height: 66px; } 
