<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>docs.py</string>
			<key>preferredName</key>
			<string>RoboFab Docs</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
		<key>description</key>
		<string>The RoboFab Documentation as a RoboFont extension</string>
		<key>repository</key>
		<string>roboDocs/roboFabDocs</string>
	</dict>
	<key>developer</key>
	<string>RoboFab Developers</string>
	<key>developerURL</key>
	<string>http://robofab.org/</string>
	<key>html</key>
	<integer>0</integer>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>RoboFab Docs</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>5</string>
	<key>timeStamp</key>
	<real>1444523339.5758309</real>
	<key>version</key>
	<string>0.1</string>
</dict>
</plist>
